<%= form_with(model: channel, local: true) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  Name: <%= form.text_field :name %><br />
  Valid for(secs): <%= form.text_field :valid_for %><br />
  Limit Enabled<%= form.check_box :expires %><br />
  <% if defined? edit %>
  Regenerate Key<%= form.check_box :regen_key %><br />
  <% end %>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
