<%= form_with(model: channel, local: true) do |form| %>
  <% if channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% channel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  Name: <%= form.text_field :name, class: "form-control" %>
  Valid until: <%= form.text_field :valid_for, class: "form-control" %>
  <div class="form-group form-check">
    <%= form.check_box :is_enabled, class: "form-check-input", id: "enabled_check" %>
    <label class="form-check-label" for="enabled_check">Enabled: </label>
  </div>
  <div class="form-group form-check">
    <%= form.check_box :expires, class: "form-check-input", id: "expires_check" %>
    <label class="form-check-label" for="expires_check">Limit Enabled: </label>
  </div>
  <div class="form-group form-check">
    <% if defined? edit %>
      <%= form.check_box :regen_key, class: "form-check-input", id: "regen_check" %>
      <label class="form-check-label" for="regen_check">Regenerate Key: </label>
    <% end %>

  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
  </div>
<% end %>
