    <div class="card col-sm-12 col-md-4">
        <% if channel.status %>
            <%= image_tag "#{ENV['COVER_PATH']}/#{channel.name}.png?#{Time.now.to_i}", class: "card-img-top" %>
        <% else %>
            <%= image_tag "/assets/default.png", class: "card-img-top" %>
        <% end %>
        <div class="card-body">
            <h5 class="card-title"><%= channel.name %></h5>
            <p class="card-text">By <%= channel.user.username %></p>
            <% if channel.status %>
                <%= link_to fa_icon('play') + " Play Now", live_play_path(channel.name), class: 'btn btn-primary', role: 'button' %>
            <% else %>
                <%= link_to fa_icon('stop') + " Live is OFF", live_play_path(channel.name), class: 'btn btn-danger disabled', role: 'button' %>
            <% end %>
        </div>
    </div>